.button-panel-main {
  background-color: white;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-panel {
  display: flex;
  flex: 1 0 auto;
  width: 100%;
  margin-bottom: 1px;
}

/*
[class > element] Selects all <div> elements where the parent is .component-display class
*/